
  
 #canvas3d {
    width: 100%;
    height: 100%;
    display: block;
  }

  a {
    pointer-events: none;
    cursor: default;
    color: grey; /* Optional: Change the color to grey to indicate the link is disabled */
    text-decoration: none; /* Optional: Remove underline */
  }
